/* ------------------------- /
#Admin css page
/ ------------------------- */

.admin-section {
    display: grid;
    grid-template-columns: 20% auto;
}

.first-bloc nav {
    width: 20%;
    position: fixed;
    display: flex;
    height: 100vh;
    padding: 30px 20px;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0px 1px 10px hsl(0, 0%, 91%);
}

.first-bloc nav a {
    display: flex;
    gap: 10px;
    color: #141b1fda;
    padding: 10px 25px;
    align-items: center;
    -webkit-column-gap: 10px;
    transition-delay: 0.2s;
    transition: 0.5s ease-in-out;
}

.first-bloc nav a span {
    color: #141b1fda;
}

.first-bloc nav a:hover {
    color: #fff;
    background-color: #37517e;
}

.first-bloc nav a:hover span {
    color: #fff;
}

.first-bloc nav .activ {
    color: #fff;
    background-color: #37517e;
    border-radius: 20px;
}

.first-bloc nav .activ span {
    color: #fff;
}


/* ------------------------- /
#
/ ------------------------- */

.all-items {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-items .bloc-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 50px;
    justify-content: center;
    gap: 30px;
    -webkit-column-gap: 30px;
}

.bloc-content div {
    width: 250px;
    height: 180px;
    padding: 10px 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition-delay: 0.2s;
    border-radius: 10px;
    gap: 10px;
    -webkit-column-gap: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 10px #ececec;
}

.bloc-content div i {
    padding: 12px 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 13px 13px 26px #e3e3e3, inset -13px -13px 26px #ffffff;
}

.bloc-content div p {
    font-weight: 500;
}

.bloc-content div span {
    color: #9a9a9a;
    font-weight: 600;
}

.bloc-content div:hover {
    color: #fff;
    background-color: #141b1fda;
}

.bloc-content div:hover i {
    color: #141b1fda;
}