/*---------------------------/
#Reset
/-------------------------- */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/*---------------------------/
#Title
/-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/*---------------------------/
#Body
/-------------------------- */

body {
    font-size: 1rem;
    color: #141b1fda;
    font-weight: 600;
    font-family: "Sulphur Point", sans-serif;
    background-image: url(../images/body-bg.png);
}


/*---------------------------/
#Header
/-------------------------- */

header {
    width: 100%;
    display: flex;
    padding: 15px 80px;
    justify-content: space-between;
}

.logo img {
    width: 50px;
}

.header-list {
    gap: 20px;
    display: flex;
    align-items: center;
    -webkit-column-gap: 20px;
}

.header-list ul {
    display: flex;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.header-list ul li a {
    color: #141b1fda;
}

.header-list ul .active {
    color: #37517e;
    border-bottom: 1px solid #37517e;
}

.cart i {
    padding: 10px 10px;
    border-radius: 50%;
    color: #141b1fda;
    background-color: #fff;
    box-shadow: 0px 1px 10px #d1d1d1ed;
}